<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="../assets/img/logo_piosa2.png" alt="Site Logo" class="logo-img">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav mr-auto">
        <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Noticias</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Iniciativas</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Participantes</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Articulaciones</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Acerca de</a></li>
      </ul>
    </div>
  </div>


</nav>
