<section>
    <div class="container-fluid">
        <div class="row">
            <div class="centerText">
                <h3 class="">Sobre PiOsa</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="\assets\img\logo_piosa2.png" class="center" alt="Logo PiOsa">
            </div>
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non suscipit voluptatem ipsum magnam repudiandae officia vitae possimus totam nemo omnis, inventore labore, quis consequuntur maxime. Quaerat architecto porro labore quia, eligendi recusandae
                    veniam amet hic natus ducimus, accusamus fuga alias explicabo dicta odit, placeat maiores minima repellat corrupti maxime quibusdam dolores nam cum molestias! Atque, at ea? Quae laudantium dolor tempore laborum. Excepturi recusandae
                    illum rem a. Illum suscipit sapiente sed. Cupiditate asperiores et, vitae adipisci neque ipsum, nam, sequi nostrum repellendus minus hic accusantium voluptate veniam natus? Vero cum sequi sunt iure. Consectetur sed sapiente id rerum
                    corrupti!
                </p>
            </div>
        </div>
    </div>
</section>