.header {
  background-color: #00B2EB;
}

.header-img {
    float: left;
    position: relative;
    margin: 20px auto;
    width: 72%;
    height: auto;
}

img{
  width: 100%;
  height: auto;
}

 .right a{
  color: #FFFFFF;
  margin: 35px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#register{
  display: flex;
  left: auto;
}

#login{
  display: flex;
  right: auto;
}