<div class="header"><!-- Encabezado -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="col">
        <a href="https://www.ucr.ac.cr/">
          <img src="../../../assets/img/firma_horizontal_continua_blanco.svg"
               alt="Universidad de Costa Rica" title="Universidad de Costa Rica" class="header-img"></a>
      </div>
      <div class="col right">
        <div class="row">
          <div class="col">
            <a href="#">Iniciar Sesión</a>
          </div>
          <div class="col">
            <a href="#">Registrarse</a>
          </div>
        </div>
      </div>
    </div><!-- row end -->
  </div>
</div>
